.landing{
background-color: #00D1C1;
width: 100%;
height: 100%;
}

.intro{

font-style: normal;
/* identical to box height */
color: #FFFFFF;
}
.welcome{
padding-top: 15px;;
padding-left : 20px;
font-weight: 500;
font-size: 18px;
font-family: Roboto;
font-style: normal;
}

.acc{
    padding-top: 15px;;
padding-left : 20px;
font-weight: 600;
font-size: 14px;
line-height: 18px;
}

.payment-component{
    display:grid;
    grid-template-columns: repeat(10, [col] 1fr);
    grid-column-gap: 10px;
    overflow-y:scroll;
}
